* {
    margin: 0;
    padding: 0;
     background: black;
}

body {
    width: 100vw;
    height: 100vh;
   display: flex;
    justify-content: center;
    align-items: center;
    
}

#clock {
    
    
}

#clockFace {
    height:300px;
    width: 300px;
    border: 10px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.hand {
    
    position: absolute;
    width: 3px;
    height: 130px;
    background: lightgrey;
    transform-origin: bottom;
    transition: 0.01s linear;
    
}

#secondHand {
    background: red;
}

#hourHand {

    margin-top: 30px;
    height: 100px;
}
